@model Int32

<div class="d-none d-md-flex flex-column">
    @Html.ActionLink("Details", "ViewLocationDetails", "Location", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-lg" })
    @Html.ActionLink("Areas", "Index", "Sublocation", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-lg" })
    @Html.ActionLink("Schedule", "ViewLocationSchedule", "Location", new { locationID = Model }, new { @class = "btn btn-block btn-secondary btn-lg" })
    @Html.ActionLink("Parking", "Index", "ParkingLot", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-lg" })
    @Html.ActionLink("Entrances", "EntranceIndex", "Location", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-lg" })
</div>
<div class="d-flex d-md-none flex-row justify-content-center">
    @Html.ActionLink("Details", "ViewLocationDetails", "Location", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-sm" })
    @Html.ActionLink("Areas", "Index", "Sublocation", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-sm" })
    @Html.ActionLink("Schedule", "ViewLocationSchedule", "Location", new { locationID = Model }, new { @class = "btn btn-block btn-secondary btn-lg" })
    @Html.ActionLink("Parking", "Index", "ParkingLot", new { locationId = Model }, new { @class = "btn btn-block btn-secondary btn-sm" })
    @Html.ActionLink("Entrances", "EntranceIndex", "Location", new { locationId = Model, entranceId = Model }, new { @class = "btn btn-block btn-secondary btn-sm" })
</div>

